.accform {
    background-color:rgb(254, 254, 254);
}

.accform input[type=text] {
    padding: 1rem;
    border: 0.06525rem solid #8f9e9a;
    border-radius: .25rem;
    letter-spacing: 0.00625rem;
    color: #333d47;
}