.accform {
    background-color: rgb(254, 254, 254);
}

.accform input[type=text] {
    padding: 1rem;
    border: 0.06525rem solid #8f9e9a;
    border-radius: .25rem;
    letter-spacing: 0.00625rem;
    color: #333d47;
    width: 90%;
}

.accform select {
    padding: 1rem;
    border: 0.06525rem solid #8f9e9a;
    border-radius: .25rem;
    letter-spacing: 0.00625rem;
    color: #333d47;
    width: 90%;
}

.accform input[type=submit] {
    color: white;
    background: #d31145;
    padding: 1rem;
    border: 0.06525rem solid #d31145;
    border-radius: .25rem;
    letter-spacing: 0.00625rem;
    /* width: 300px; */
    padding: 10px 40px;
}

.accform ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 60px;
    list-style: none;
    padding-left: 1rem;

}

.accform lable {
    display: block;
}